body {
  background-color: #131722;
  color: #d1d4dc;
  font-family: 'Inter', sans-serif;
}
.nav-link {
  @apply text-gray-300 hover:text-white font-semibold px-4 py-2 rounded;
}
.nav-link-active {
  @apply text-white bg-gray-800;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #ac34db;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
